pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #3D7B7B; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.ch { color: #3D7B7B; font-style: italic } /* Comment.Hashbang */
.cm { color: #3D7B7B; font-style: italic } /* Comment.Multiline */
.cp { color: #9C6500 } /* Comment.Preproc */
.cpf { color: #3D7B7B; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #3D7B7B; font-style: italic } /* Comment.Single */
.cs { color: #3D7B7B; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #E40000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #008400 } /* Generic.Inserted */
.go { color: #717171 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #687822 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #717171; font-weight: bold } /* Name.Entity */
.ne { color: #CB3F38; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #767600 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mb { color: #666666 } /* Literal.Number.Bin */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sa { color: #BA2121 } /* Literal.String.Affix */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.dl { color: #BA2121 } /* Literal.String.Delimiter */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #AA5D1F; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #A45A77; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #A45A77 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.fm { color: #0000FF } /* Name.Function.Magic */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.vm { color: #19177C } /* Name.Variable.Magic */
.il { color: #666666 } /* Literal.Number.Integer.Long */

.h1none, .h2none, .N1none, .N2none, .vocabularynone, .lengthnone, .volumenone, .effortnone, .difficultynone, .cc_functionnone { background-color: #ffffff;}
.cc_function3 { background-color: rgba(20, 255, 0, 0.75);}
.h10, .h20, .N10, .N20, .vocabulary0, .length0, .volume0, .effort0, .difficulty0, .cc_function1, .h11, .N11, .effort2, .difficulty1, .h21, .N21, .effort1 { background-color: rgba(0, 255, 0, 0.75);}
.cc_function32 { background-color: rgba(255, 194, 0, 0.75);}
.h113, .length25, .h213, .N113 { background-color: rgba(153, 255, 0, 0.75);}
.h233 { background-color: rgba(255, 102, 0, 0.75);}
.N118, .N218 { background-color: rgba(217, 255, 0, 0.75);}
.N235, .h235 { background-color: rgba(255, 76, 0, 0.75);}
.vocabulary46 { background-color: rgba(255, 223, 0, 0.75);}
.length53, .h227 { background-color: rgba(255, 178, 0, 0.75);}
.volume292 { background-color: rgba(255, 213, 0, 0.75);}
.effort2018, .N262, .length93, .N243, .effort2368 { background-color: rgba(255, 0, 0, 0.75);}
.difficulty6, .h26, .N26, .vocabulary11, .length11, .h16, .N16, .volume64 { background-color: rgba(64, 255, 0, 0.75);}
.cc_function19 { background-color: rgba(184, 255, 0, 0.75);}
.h15, .vocabulary9, .length9, .N15, .volume51, .cc_function6, .h25, .N25, .difficulty5 { background-color: rgba(51, 255, 0, 0.75);}
.h214, .N214, .length27 { background-color: rgba(166, 255, 0, 0.75);}
.N19, .h29, .N29, .length17, .h19 { background-color: rgba(102, 255, 0, 0.75);}
.N216 { background-color: rgba(191, 255, 0, 0.75);}
.vocabulary19, .N210, .h210, .h110, .length19 { background-color: rgba(115, 255, 0, 0.75);}
.volume106, .effort422 { background-color: rgba(107, 255, 0, 0.75);}
.effort303 { background-color: rgba(77, 255, 0, 0.75);}
.difficulty2, .h22, .N22, .vocabulary3, .length3, .h12, .N12 { background-color: rgba(13, 255, 0, 0.75);}
.volume4, .effort12, .effort11 { background-color: rgba(3, 255, 0, 0.75);}
.h24, .N24, .N14, .volume38, .h14, .vocabulary7, .length7, .difficulty4 { background-color: rgba(38, 255, 0, 0.75);}
.vocabulary6, .length6 { background-color: rgba(32, 255, 0, 0.75);}
.volume15, .effort56 { background-color: rgba(14, 255, 0, 0.75);}
.effort15, .effort18 { background-color: rgba(4, 255, 0, 0.75);}
.h13, .N13, .difficulty3, .h23, .vocabulary5, .effort103, .N23, .length5 { background-color: rgba(26, 255, 0, 0.75);}
.volume28, .effort111, .effort112 { background-color: rgba(28, 255, 0, 0.75);}
.effort42, .cc_function2, .volume11, .effort39 { background-color: rgba(10, 255, 0, 0.75);}
.N28, .h28, .length15, .N18, .vocabulary15, .h18 { background-color: rgba(89, 255, 0, 0.75);}
.length12, .vocabulary12, .volume70 { background-color: rgba(70, 255, 0, 0.75);}
.effort76, .vocabulary4, .volume20, .length4 { background-color: rgba(19, 255, 0, 0.75);}
.effort97, .volume25 { background-color: rgba(24, 255, 0, 0.75);}
.vocabulary14, .length14, .volume82 { background-color: rgba(83, 255, 0, 0.75);}
.volume57, .vocabulary10, .effort223 { background-color: rgba(57, 255, 0, 0.75);}
.effort114 { background-color: rgba(29, 255, 0, 0.75);}
.h27, .N27, .vocabulary13, .N17, .h17, .volume76, .length13 { background-color: rgba(76, 255, 0, 0.75);}
.length24, .vocabulary24 { background-color: rgba(147, 255, 0, 0.75);}
.volume79 { background-color: rgba(80, 255, 0, 0.75);}
.effort273 { background-color: rgba(69, 255, 0, 0.75);}
.volume23, .effort86 { background-color: rgba(22, 255, 0, 0.75);}
.effort34 { background-color: rgba(8, 255, 0, 0.75);}
.volume42 { background-color: rgba(42, 255, 0, 0.75);}
.effort35, .effort36, .volume10 { background-color: rgba(9, 255, 0, 0.75);}
.vocabulary2, .length2, .effort25 { background-color: rgba(6, 255, 0, 0.75);}
.volume2, .effort6, .effort4 { background-color: rgba(1, 255, 0, 0.75);}
.volume12 { background-color: rgba(11, 255, 0, 0.75);}
.effort8 { background-color: rgba(2, 255, 0, 0.75);}
.cc_function4, .volume31 { background-color: rgba(31, 255, 0, 0.75);}
.volume13, .effort48, .effort47 { background-color: rgba(12, 255, 0, 0.75);}
.cc_function5, .volume41 { background-color: rgba(41, 255, 0, 0.75);}
.cc_function8 { background-color: rgba(71, 255, 0, 0.75);}
.length8, .vocabulary8, .effort177 { background-color: rgba(45, 255, 0, 0.75);}
.volume22, .effort84, .effort83 { background-color: rgba(21, 255, 0, 0.75);}
.effort22, .effort19, .effort20 { background-color: rgba(5, 255, 0, 0.75);}
.h220, .length39, .vocabulary39, .N120 { background-color: rgba(242, 255, 0, 0.75);}
.N119, .vocabulary37, .length37 { background-color: rgba(230, 255, 0, 0.75);}
.N237 { background-color: rgba(255, 51, 0, 0.75);}
.vocabulary26 { background-color: rgba(159, 255, 0, 0.75);}
.length56 { background-color: rgba(255, 159, 0, 0.75);}
.volume263 { background-color: rgba(255, 243, 0, 0.75);}
.effort1460 { background-color: rgba(255, 138, 0, 0.75);}
.volume27, .effort105 { background-color: rgba(27, 255, 0, 0.75);}
.effort27 { background-color: rgba(7, 255, 0, 0.75);}
.length21, .N211, .vocabulary21, .h211 { background-color: rgba(128, 255, 0, 0.75);}
.volume60 { background-color: rgba(60, 255, 0, 0.75);}
.h212, .N212, .length23, .N112 { background-color: rgba(140, 255, 0, 0.75);}
.effort143, .volume36 { background-color: rgba(36, 255, 0, 0.75);}
.vocabulary16 { background-color: rgba(96, 255, 0, 0.75);}
.volume96 { background-color: rgba(97, 255, 0, 0.75);}
.h215, .N215 { background-color: rgba(178, 255, 0, 0.75);}
.N226 { background-color: rgba(255, 191, 0, 0.75);}
.vocabulary18, .length18 { background-color: rgba(108, 255, 0, 0.75);}
.volume162 { background-color: rgba(164, 255, 0, 0.75);}
.volume39, .effort154 { background-color: rgba(39, 255, 0, 0.75);}
.volume84 { background-color: rgba(85, 255, 0, 0.75);}
.effort129 { background-color: rgba(33, 255, 0, 0.75);}
.N131 { background-color: rgba(255, 128, 0, 0.75);}
.volume491 { background-color: rgba(255, 10, 0, 0.75);}
.effort1741 { background-color: rgba(255, 66, 0, 0.75);}
.cc_function34 { background-color: rgba(255, 173, 0, 0.75);}
.h228 { background-color: rgba(255, 166, 0, 0.75);}
.N239 { background-color: rgba(255, 26, 0, 0.75);}
.length59 { background-color: rgba(255, 140, 0, 0.75);}
.volume307 { background-color: rgba(255, 198, 0, 0.75);}
.effort1926 { background-color: rgba(255, 19, 0, 0.75);}
.volume49 { background-color: rgba(49, 255, 0, 0.75);}
.effort62 { background-color: rgba(16, 255, 0, 0.75);}
.cc_function27 { background-color: rgba(255, 245, 0, 0.75);}
.N124, .h224 { background-color: rgba(255, 217, 0, 0.75);}
.vocabulary43, .N122, .N222 { background-color: rgba(255, 242, 0, 0.75);}
.length67, .h234 { background-color: rgba(255, 89, 0, 0.75);}
.volume363 { background-color: rgba(255, 141, 0, 0.75);}
.cc_function7 { background-color: rgba(61, 255, 0, 0.75);}
.volume50 { background-color: rgba(50, 255, 0, 0.75);}
.volume18, .effort67 { background-color: rgba(17, 255, 0, 0.75);}
.volume24 { background-color: rgba(23, 255, 0, 0.75);}
.volume102 { background-color: rgba(103, 255, 0, 0.75);}
.volume87 { background-color: rgba(88, 255, 0, 0.75);}
.effort364 { background-color: rgba(93, 255, 0, 0.75);}
.volume43 { background-color: rgba(43, 255, 0, 0.75);}
.volume112 { background-color: rgba(113, 255, 0, 0.75);}
.effort389 { background-color: rgba(99, 255, 0, 0.75);}
.volume68 { background-color: rgba(68, 255, 0, 0.75);}
.effort308, .volume77 { background-color: rgba(78, 255, 0, 0.75);}
.volume105 { background-color: rgba(106, 255, 0, 0.75);}
.effort337, .effort338 { background-color: rgba(86, 255, 0, 0.75);}
.effort98 { background-color: rgba(25, 255, 0, 0.75);}
.cc_function22 { background-color: rgba(214, 255, 0, 0.75);}
.N240 { background-color: rgba(255, 13, 0, 0.75);}
.vocabulary41, .h221, .N121 { background-color: rgba(255, 255, 0, 0.75);}
.length62 { background-color: rgba(255, 121, 0, 0.75);}
.volume332, .length54 { background-color: rgba(255, 172, 0, 0.75);}
.effort1367 { background-color: rgba(255, 162, 0, 0.75);}
.length34 { background-color: rgba(210, 255, 0, 0.75);}
.volume141, .cc_function15 { background-color: rgba(143, 255, 0, 0.75);}
.effort311 { background-color: rgba(79, 255, 0, 0.75);}
.length22 { background-color: rgba(134, 255, 0, 0.75);}
.volume83 { background-color: rgba(84, 255, 0, 0.75);}
.effort159 { background-color: rgba(40, 255, 0, 0.75);}
.volume47 { background-color: rgba(47, 255, 0, 0.75);}
.cc_function14 { background-color: rgba(133, 255, 0, 0.75);}
.N236 { background-color: rgba(255, 64, 0, 0.75);}
.volume247 { background-color: rgba(251, 255, 0, 0.75);}
.effort636 { background-color: rgba(162, 255, 0, 0.75);}
.cc_function25 { background-color: rgba(245, 255, 0, 0.75);}
.N225, .cc_function31 { background-color: rgba(255, 204, 0, 0.75);}
.vocabulary32 { background-color: rgba(198, 255, 0, 0.75);}
.volume185 { background-color: rgba(188, 255, 0, 0.75);}
.effort770 { background-color: rgba(196, 255, 0, 0.75);}
.N238 { background-color: rgba(255, 38, 0, 0.75);}
.vocabulary36 { background-color: rgba(223, 255, 0, 0.75);}
.length57, .h229 { background-color: rgba(255, 153, 0, 0.75);}
.volume294 { background-color: rgba(255, 211, 0, 0.75);}
.effort1866 { background-color: rgba(255, 34, 0, 0.75);}
.cc_function24 { background-color: rgba(235, 255, 0, 0.75);}
.length60 { background-color: rgba(255, 134, 0, 0.75);}
.volume312 { background-color: rgba(255, 193, 0, 0.75);}
.effort1681 { background-color: rgba(255, 82, 0, 0.75);}
.volume97 { background-color: rgba(98, 255, 0, 0.75);}