<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Annotated source for $filename</title>
    <link rel="stylesheet" href="annotated.css" type="text/css">
    <style>
        button {
            display: inline;
        }
        .halstead {
            display: none;
        }

        .halstead_span {
            display: none;
        }

        .toggle{
            position: fixed;
        }
    </style>
    <script lang="js">
        disp = false;
        first_toggle = true;
        function toggle() {
            cy = document.getElementsByClassName("cyclomatic");
            for (let c in cy) {
                if (cy[c].style) {
                    cy[c].style.display = (disp ? "block" : "none");
                }
            }
            cy = document.getElementsByClassName("cyclomatic_span");
            for (let c in cy) {
                if (cy[c].style) {
                    cy[c].style.display = (disp ? "inline" : "none");
                }
            }
            ha = document.getElementsByClassName("halstead");
            for (let h in ha) {
                if (ha[h].style)
                    ha[h].style.display = disp ? "none" : "inline";
            }
            ha = document.getElementsByClassName("halstead_span");
            for (let h in ha) {
                if (ha[h].style)
                    ha[h].style.display = disp ? "none" : "inline";
            }
            disp = !disp;
            if (first_toggle) {
                select_metric("h1", true);
                first_toggle = false;

            }
            if (!disp) {
                select_metric("cc_function", false);
            }
            else {
                select_metric("effort", true);
            }
        }
        halstead_names = ["cc_function", "h1", "h2", "N1", "N2", "vocabulary", "length", "volume", "effort", "difficulty"]

        function select_metric(name, show_all) {
            for (let hname in halstead_names) {
                ha = document.getElementsByClassName(halstead_names[hname] + "_val");
                for (let h in ha) {
                    if (ha[h].style && halstead_names[hname] != "cc_function")
                        ha[h].style.display = show_all ? "inline" : "none";
                }
                hn = document.getElementsByClassName(name + "_val");
                for (let h in hn) {
                    if (hn[h].style)
                        hn[h].style.display = "inline";
                }
            }
            all_divs = document.querySelectorAll("div");
            var all_classes = [];
            for (let di in all_divs) {
                if (all_divs[di].className) {
                    div_classes = all_divs[di].className.split(' ');
                    all_classes.push(...div_classes);
                }
            }
            unique_classes = [...new Set(all_classes)]
            unique_metric_classes = unique_classes.filter((element) => element.startsWith(name))
            console.log(unique_metric_classes);
            for (let ci in unique_metric_classes) {
                color_class = unique_metric_classes[ci];
                ha_code = document.getElementsByClassName(color_class);
                for (let hi in ha_code) {
                    if (ha_code[hi].style) {
                        var val_style_name = color_class.replace("_code", "");
                        var val_style_class = document.querySelector("." + val_style_name);
                        if (val_style_class) {
                            var val_style = getComputedStyle(val_style_class);
                            ha_code[hi].style.backgroundColor = val_style.backgroundColor;
                        }
                    }
                }
            }
        }
    </script>
</head>
<body onload="select_metric('cc_function', false);">
    <div  class="toggle">
        <button onclick="toggle()">Toggle</button>
        <button class="halstead" onclick="select_metric('h1', false)">h1</button>
        <button class="halstead" onclick="select_metric('h2', false)">h2</button>
        <button class="halstead" onclick="select_metric('N1', false)">N1</button>
        <button class="halstead" onclick="select_metric('N2', false)">N2</button>
        <button class="halstead" onclick="select_metric('vocabulary', false)">vocabulary</button>
        <button class="halstead" onclick="select_metric('length', false)">length</button>
        <button class="halstead" onclick="select_metric('volume', false)">volume</button>
        <button class="halstead" onclick="select_metric('effort', false)">effort</button>
        <button class="halstead" onclick="select_metric('difficulty', false)">difficulty</button>
        <button class="halstead" onclick="select_metric('difficulty', true)">All</button>
    </div>
    <div>
        $annotated
    </div>
</body>
</html>
